{% load static  %}

<header class="header">
    <div class="container">
        <div class="header-area">
            <div class="logo">
                <a href="index-2.html"><img src="{% static '/img/logo.png'%}" alt="logo" /></a>
            </div>
            <div class="header-right">
                <form action="#">
                    <select>
                        <option value="Movies">Movies</option>
                    </select>
                    <input type="text"/>
                    <button><i class="icofont icofont-search"></i></button>
                </form>
                <ul>
                    <li><a href="#">Welcome Guest!</a></li>
                    <li><a class="login-popup" href="#">Login</a></li>
                </ul>
            </div>
            <div class="menu-area">
                <div class="responsive-menu"></div>
                <div class="mainmenu">
                    <ul id="primary-menu">
                        <li><a class="active" href="{% url 'home'%}">Home</a></li>
                        <li><a href="{% url 'movie'%}">Movies</a></li> 
                        <li><a href="{% url 'celebrity'%}">CelebritiesList</a></li>
                        <li><a href="{% url 'top_movies'%}">Top Movies</a></li>
                        <li><a href="{% url 'movie_details'%}">Movie Details</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>